.sectionLeft {
	float: left;
	width: 25%;
	height: 2000px;
	background-color: green;
}

.sectionMiddle {
	float: left;
	width: 50%;
	height: 2000px;
	background-color: blue;
	text-align: center;
}

.sectionRight {
	float: left;
	width: 25%;
	height: 2000px;
	background-color: orange;
}

#scoreContainer {
	margin-top: 10px;
	width: 40%;
	background-color: gray;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

#clicker {
	background-image: url("./images/boxingBag.jpg");
	background-size: contain;
	position: relative;
	transition: all .2s ease-in-out;
	display: inline-block;
	height: 690px;
	width: 460px;
	margin: 40px;
}

#clicker:hover {
	transform: scale(1.10);
}

#clicker:active {
	transform: scale(0.99);
}

#clicker > .number {
	z-index: 99;
	font-size: 24px;
	color: black;
	position: absolute;
}

.shopButton {
	background-color: rgb(238, 238, 238);
	transition: all.2s ease-in-out;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
	width: 50%;
	margin-left: 25%;
}

.shopButton:hover {
	background-color: rgb(238, 238, 250);
	transition: all .2s ease-in-out;
}

.shopButton #image {
	width: 25%;
}

.shopButton img {
	height: 64px;
	width: 64px;
}

.shopButton #nameAndCost p {
	margin: 0px;
	width: 70%;
}

.shopButton #nameAndCost p:first-of-type {
	font-size: 24px;
}

.shopButton #amount {
	font-size: 48px;
	color: #595959;
	font-family: roboto;
	width: 15%;
}

#shopMenu {
	width: 80%;	
	background-color: gray;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10%;
	padding-top: 17px;
	padding-bottom: 17px;
	cursor: pointer;
}

#shopMenu h1 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	
}

#upgradeMenu {
	width: 80%;	
	background-color: gray;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10%;
	padding-top: 17px;
	padding-bottom: 17px;
	cursor: pointer;
}

#upgradeMenu h1 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}

.upgradeButton {
	background-color: darkgray;
	border-radius: 10px;
	width: 64px;
	height: 64px;
	margin: 10px;
}

#upgradeContainer {
	display: flex;
}

#upgradeContainer img {
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
}

#achievementMenu {
	width: 80%;	
	background-color: gray;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 10%;
	padding-top: 17px;
	padding-bottom: 17px;
	cursor: pointer;
}

#achievementMenu h1 {
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}

.achievementButton {
	background-color: lightblue;
	border-radius: 10px;
	width: 64px;
	height: 64px;
	margin: 10px;
}

#achievementContainer {
	display: flex;
}

#achievementContainer img {
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
}

#menu {
	background-image: url(./images/menu.png);
	background-size: contain;
	width: 64px;
	height: 64px;
	cursor: pointer;
	position: relative;
	margin-left: 10px;
}

.menuButton {
	background-color: rgb(238, 238, 238);
	transition: all.2s ease-in-out;
	border-radius: 10px;
	margin: 10px 0px 10px 0px;
	width: 34%;
	margin-left: 33%;
	display: inline-block;
	cursor: pointer;
}

.menuButton:hover {
	background-color: rgb(238, 238, 260);
	transition: all .2s ease-in-out;
}

.menuButton p {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}